.investment {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90% 10%;
}

.investment__list {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 5;
}

.investment__list-item {
  margin-bottom: 1rem;
}
