.phone {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-columns: 1fr 2fr 2fr 1fr; */
  grid-template-rows: 80% 20%;
}

.phone__list {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 7;
}

.phone__list-item {
  margin-bottom: 1rem;
}
