.clothing {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 70% 20% 10%;
}

.clothing__list {
  grid-column-start: 1;
  grid-column-end: 8;
}

.clothing__list-item {
  margin-bottom: 1rem;
}
