.tonight {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 65% 20% 15%;
}

.tonight__list {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 5;
}

.tonight__list-item {
  margin-bottom: 1rem;
}

.grid__3--tonight {
  grid-column-start: 2;
}

.grid__4--tonight {
  grid-column-start: 4;
}
