.tonight {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40% 15% 15% 15% 15%;
}

.tonight__list {
  grid-column-start: 1;
  grid-column-end: 6;
}

.tonight__list-item {
  margin-bottom: 1rem;
}
