.wallet__container {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
  background-color: purple;
}
/*rating circular bar*/
.rating .CircularProgressbar-path {
  stroke: blue;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.rating .CircularProgressbar-trail {
  stroke: white;
}
.rating .CircularProgressbar-text {
  fill: white;
  text-align: center;
  text-anchor: middle;
  /* dominant-baseline: middle; */
}
/*credit circular bar*/
.credit .CircularProgressbar-path {
  stroke: blue;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.credit .CircularProgressbar-trail {
  stroke: white;
}
.credit .CircularProgressbar-text {
  fill: white;
  text-align: center;
  text-anchor: middle;
  /* dominant-baseline: middle; */
}

/*cash circular bar*/
.cash .CircularProgressbar-path {
  stroke: blue;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.cash .CircularProgressbar-trail {
  stroke: white;
}
.cash .CircularProgressbar-text {
  fill: white;
  text-align: center;
  text-anchor: middle;
  /* dominant-baseline: middle; */
}

.CircularProgressbar {
  max-height: 8rem;
}

.progress {
  margin: 0;
  padding: 0;
}
