.hint {
  grid-column-start: 2;
}

.content {
  margin-top: 20%;
  margin-right: 25%;
  margin-left: 25%;
  background-color: aliceblue;
  border-radius: 2%;
}

.modal-content {
  padding: 100px;
}

.close-button {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
  cursor: pointer;
  font-weight: 400;
}
