.hint {
  grid-column-start: 2;
  background-image: url("../../assets/button-grey-square.png");
  /* background-size: contain; */
  /* background-size: cover; */
  background-size: 100% 100%;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal {
  margin-top: 10%;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 10%;
  background-color: aliceblue;
  border-radius: 2%;
}

.modal-content {
  padding: 5em;
}

.modal-animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-button {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
  cursor: pointer;
  font-weight: 400;
}
