.display__container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: lightGray;
  display: grid;
  /* grid-template-rows: 10vh auto 10vh; */
  grid-template-rows: 2rem auto 5rem;
  text-align: center;
  /* grid-template-columns: 90rem 10rem; */
}

.p__storyline {
  padding: 0;
  margin: 0;
}

.grid__1 {
  grid-column-start: 2;
}

.grid__2 {
  grid-column-start: 4;
}

.grid__3 {
  grid-column-start: 6;
}

/* .button__next:hover {
  color: rgb(87, 87, 87);
} */

.image__next {
  cursor: pointer;
}

.button__1 {
  background-image: url('../../assets/button-red.png');
  background-size: 100% 100%;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.button__2 {
  background-image: url('../../assets/button-yellow.png');
  background-size: 100% 100%;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.button__3 {
  background-image: url('../../assets/button-blue.png');
  background-size: 100% 100%;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.button__4 {
  background-image: url('../../assets/button-green.png');
  background-size: 100% 100%;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
