.display__container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: gray;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  text-align: center;
  /* grid-template-columns: 90rem 10rem; */
}

.p__storyline {
  color: white;
  padding: 0;
  margin: 0;
}

.button__1 {
  grid-column-start: 2;
}

.button__2 {
  grid-column-start: 4;
}

.button__3 {
  grid-column-start: 6;
}
