.app__game-container {
  display: grid;
  grid-template-columns: 70vw 10vw 20vw;
  grid-template-rows: 10vh 90vh;
  max-height: 100vh;
  background-color: lightgray;
}

.container__login-id,
.container__login-name {
  background-color: lightgray;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
}
